{% extends 'fight.html.twig' %}

{% block content %}
    <h1 style="color: #8d0e10; text-align: center; font-size: 30pt; margin-top: 50px">ROUND FINAL</h1>
    <div style='display:flex'>
        <div class="card">
            <div class="card-image"><img class="hero-img" src="{{ api.image.url }}">
                <div class="card-body">
                    <h3>{{ api.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Durabilité {{ api.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api.id }}" style="display: none">
                </div>
            </div>
        </div>
        {% if new1 > new2 %}
            <h1 style="color: #8d0e10; width: 330px; text-align: center">Félicitation ! Tu as battu ton ennemi {{ api2.name }}, bravo !</h1>
        {% else %}
            <h1 style="color: #8d0e10; width: 330px; text-align: center"> Ton ennemi {{ api2.name }} t'a humilié, tu réussiras la prochaine fois peut-être !</h1>
        {% endif %}
        <form action="hero" method="post">
            <button style="margin: 10px; margin-left: 25px; z-index: 1; position: absolute; top: 400px; left: 700px" class="button-versus">Rejouer ?</button>
        </form>
        <div class="card">
            <div class="card-image"><img class="hero-img" src="{{ api2.image.url }}">
                <div class="card-body">
                    <h3>{{ api2.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api2.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api2.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api2.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Durabilité {{ api2.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api2.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api2.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api2.id }}" style="display: none">
                </div>
            </div>
        </div>
    </div>

{% endblock %}