{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Selectionne ton HERO !</h1>

    <div style='display:flex'>
        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api.image.url }}">
                <div class="card-body">
                    <h3>{{ api.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api2.image.url }}">
                <div class="card-body">
                    <h3>{{ api2.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api2.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api2.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api2.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api2.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api2.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api2.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api2.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api3.image.url }}">
                <div class="card-body">
                    <h3>{{ api3.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api3.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api3.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api3.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api3.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api3.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api3.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api3.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api4.image.url }}">
                <div class="card-body">
                    <h3>{{ api4.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api4.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api4.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api4.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api4.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api4.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api4.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api4.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
                <div class="card" style="display: none">
                    <div class="card-image"><img src="{{ api5.image.url }}">
                        <div class="card-body">
                            <h3>{{ api5.name }}</h3>
                            <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api5.powerstats.intelligence }}</p>
                            <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api5.powerstats.strength }}</p>
                            <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api5.powerstats.speed }}</p>
                            <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api5.powerstats.durability }}</p>
                            <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api5.powerstats.power }}</p>
                            <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api5.powerstats.combat }}</p>
                            <input type="text" name="id" value="{{ api5.id }}" style="display: none">
                            <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                                Choisir ce HERO
                            </button>
                        </div>
                    </div>
                </div>
        </form>
            </div>
    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>

    <div style='display:flex'>
        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api6.image.url }}">
                <div class="card-body">
                    <h3>{{ api6.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api6.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api6.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api6.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api6.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api6.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api6.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api6.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api7.image.url }}">
                <div class="card-body">
                    <h3>{{ api7.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api7.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api7.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api7.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api7.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api7.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api7.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api7.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api8.image.url }}">
                <div class="card-body">
                    <h3>{{ api8.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api8.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api8.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api8.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api8.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api8.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api8.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api8.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>

        <form method="post" action="startGame">
        <div class="card">
            <div class="card-image"><img src="{{ api9.image.url }}">
                <div class="card-body">
                    <h3>{{ api9.name }}</h3>
                    <p><img class="icon" src="https://img.icons8.com/pastel-glyph/64/000000/brain--v2.png" style="width: 32px !important;height: 32px"/>Intelligence {{ api9.powerstats.intelligence }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent-systems-filled/24/000000/forward-punch.png" style="width: 32px !important;height: 32px"/>Force {{ api9.powerstats.strength }}</p>
                    <p><img class="icon" src="https://img.icons8.com/ios-filled/50/000000/track-and-field.png" style="width: 32px !important;height: 32px"/>Vitesse {{ api9.powerstats.speed }}</p>
                    <p><img class="icon" src="https://img.icons8.com/fluent/48/000000/heart-plus.png" style="width: 32px !important;height: 32px"/>Point de vie {{ api9.powerstats.durability }}</p>
                    <p><img class="icon" src="https://img.icons8.com/material-sharp/24/000000/strength.png" style="width: 32px !important;height: 32px" &nbsp/>Puissance {{ api9.powerstats.power }}</p>
                    <p><img class="icon" src="https://img.icons8.com/android/24/000000/boxing.png" style="width: 32px !important;height: 32px" &nbsp/>Combat {{ api9.powerstats.combat }}</p>
                    <input type="text" name="id" value="{{ api9.id }}" style="display: none">
                    <button  class="col btn btn-succes" type="submit" data-toggle="modal" >
                        Choisir ce HERO
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>


{% endblock %}
