{% extends 'layout.html.twig' %}

{% block content %}

    <div style='display:flex' >
        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img src="{{ api.image.url }}" height="300px" alt="Photo">
                    <br/>
                    Nom : {{ api.name }}<br/>
                    Intelligence : {{ api.powerstats.intelligence }}<br/>
                    Force : {{ api.powerstats.strength }}<br/>
                    Vitesse : {{ api.powerstats.speed }}<br/>
                    Point de vie : {{ api.powerstats.durability }}<br/>
                    Puissance : {{ api.powerstats.power }}<br/>
                    Combat : {{ api.powerstats.combat }}<br/>
                </div>
            </div>
        </div>

    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api2.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api2.name }}<br/>
                Intelligence : {{ api2.powerstats.intelligence }}<br/>
                Force : {{ api2.powerstats.strength }}<br/>
                Vitesse : {{ api2.powerstats.speed }}<br/>
                Point de vie : {{ api2.powerstats.durability }}<br/>
                Puissance : {{ api2.powerstats.power }}<br/>
                Combat : {{ api2.powerstats.combat }}<br/>
            </div>
        </div>
    </div>

        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img src="{{ api3.image.url }}" height="300px" alt="Photo">
                    <br/>
                    Nom : {{ api3.name }}<br/>
                    Intelligence : {{ api3.powerstats.intelligence }}<br/>
                    Force : {{ api3.powerstats.strength }}<br/>
                    Vitesse : {{ api3.powerstats.speed }}<br/>
                    Point de vie : {{ api3.powerstats.durability }}<br/>
                    Puissance : {{ api3.powerstats.power }}<br/>
                    Combat : {{ api3.powerstats.combat }}<br/>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img src="{{ api4.image.url }}" height="300px" alt="Photo">
                    <br/>
                    Nom : {{ api4.name }}<br/>
                    Intelligence : {{ api4.powerstats.intelligence }}<br/>
                    Force : {{ api4.powerstats.strength }}<br/>
                    Vitesse : {{ api4.powerstats.speed }}<br/>
                    Point de vie : {{ api4.powerstats.durability }}<br/>
                    Puissance : {{ api4.powerstats.power }}<br/>
                    Combat : {{ api4.powerstats.combat }}<br/>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img src="{{ api5.image.url }}" height="300px" alt="Photo">
                    <br/>
                    Nom : {{ api5.name }}<br/>
                    Intelligence : {{ api5.powerstats.intelligence }}<br/>
                    Force : {{ api5.powerstats.strength }}<br/>
                    Vitesse : {{ api5.powerstats.speed }}<br/>
                    Point de vie : {{ api5.powerstats.durability }}<br/>
                    Puissance : {{ api5.powerstats.power }}<br/>
                    Combat : {{ api5.powerstats.combat }}<br/>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>

<div style='display:flex'>
    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api6.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api6.name }}<br/>
                Intelligence : {{ api6.powerstats.intelligence }}<br/>
                Force : {{ api6.powerstats.strength }}<br/>
                Vitesse : {{ api6.powerstats.speed }}<br/>
                Point de vie : {{ api6.powerstats.durability }}<br/>
                Puissance : {{ api6.powerstats.power }}<br/>
                Combat : {{ api6.powerstats.combat }}<br/>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api7.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api7.name }}<br/>
                Intelligence : {{ api7.powerstats.intelligence }}<br/>
                Force : {{ api7.powerstats.strength }}<br/>
                Vitesse : {{ api7.powerstats.speed }}<br/>
                Point de vie : {{ api7.powerstats.durability }}<br/>
                Puissance : {{ api7.powerstats.power }}<br/>
                Combat : {{ api7.powerstats.combat }}<br/>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api8.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api8.name }}<br/>
                Intelligence : {{ api8.powerstats.intelligence }}<br/>
                Force : {{ api8.powerstats.strength }}<br/>
                Vitesse : {{ api8.powerstats.speed }}<br/>
                Point de vie : {{ api8.powerstats.durability }}<br/>
                Puissance : {{ api8.powerstats.power }}<br/>
                Combat : {{ api8.powerstats.combat }}<br/>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api9.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api9.name }}<br/>
                Intelligence : {{ api9.powerstats.intelligence }}<br/>
                Force : {{ api9.powerstats.strength }}<br/>
                Vitesse : {{ api9.powerstats.speed }}<br/>
                Point de vie : {{ api9.powerstats.durability }}<br/>
                Puissance : {{ api9.powerstats.power }}<br/>
                Combat : {{ api9.powerstats.combat }}<br/>
            </div>
        </div>
    </div>

    <div class="col-md-4 d-flex align-self-stretch text-center">
        <div class="media block-6 services d-block step-back">
            <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                <img src="{{ api10.image.url }}" height="300px" alt="Photo">
                <br/>
                Nom : {{ api10.name }}<br/>
                Intelligence : {{ api10.powerstats.intelligence }}<br/>
                Force : {{ api10.powerstats.strength }}<br/>
                Vitesse : {{ api10.powerstats.speed }}<br/>
                Point de vie : {{ api10.powerstats.durability }}<br/>
                Puissance : {{ api10.powerstats.power }}<br/>
                Combat : {{ api10.powerstats.combat }}<br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}
