{% extends 'layout.html.twig' %}

{% block content %}

    <div style='display:flex'>

        <div><img src='{{ api.image.url }}'></div>

        <div><img src='{{ api2.image.url }}'></div>

    </div>
    Nom : {{ api.name }}<br/>
    Intelligence : {{ api.powerstats.intelligence }}<br/>
    Force : {{ api.powerstats.strength }}<br/>
    Vitesse : {{ api.powerstats.speed }}<br/>
    Durabilité : {{ api.powerstats.durability }}<br/>
    Puissance : {{ api.powerstats.power }}<br/>
    Combat : {{ api.powerstats.combat }}<br/>


{% endblock %}
