{% extends 'versus.html.twig' %}

{% block content %}
    <div style='display:flex'>
        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img class="hero" src="{{ api.image.url }}" height="300px" alt="Photo">
                    <h1 class="name-hero">{{ api.name }}</h1>
                </div>
            </div>
        </div>

        <div>
         <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img class="ennemy" src="{{ api2.image.url }}" height="300px" alt="Photo">
                    <h1 class="name-ennemy">{{ api2.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
    <form action="round1" method="post">
        <input name="id" value="{{ api.id }}" style="display: none">
        <input name="id2" value="{{ api2.id }}" style="display: none">
        <input type="text" name="intel" value="{{ api.powerstats.intelligence }}" style="display: none">
        <input type="text" name="force" value="{{ api.powerstats.strength }}" style="display: none">
        <input type="text" name="vitesse" value="{{ api.powerstats.speed }}" style="display: none">
        <input type="text" name="vie" value="{{ api.powerstats.durability }}" style="display: none">
        <input type="text" name="puissance" value="{{ api.powerstats.power }}" style="display: none">
        <input type="text" name="combat" value="{{ api.powerstats.combat }}" style="display: none">
        <input type="text" name="intel2" value="{{ api2.powerstats.intelligence }}" style="display: none">
        <input type="text" name="force2" value="{{ api2.powerstats.strength }}" style="display: none">
        <input type="text" name="vitesse2" value="{{ api2.powerstats.speed }}" style="display: none">
        <input type="text" name="vie2" value="{{ api2.powerstats.durability }}" style="display: none">
        <input type="text" name="puissance2" value="{{ api2.powerstats.power }}" style="display: none">
        <input type="text" name="combat2" value="{{ api2.powerstats.combat }}" style="display: none">
    <button class="button-versus">Prêt pour le combat ?</button>
    </form>

{% endblock %}