{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-md-12 col-sm-12 text-center">
        <h1 class="mb-4">Choisis ton HERO !</h1>
    </div>
    <div style='display:flex' >
        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img src="{{ api.image.url }}" height="300px" alt="Photo">
                    <br/>
                    Nom : {{ api.name }}<br/>
                    Intelligence : {{ api.powerstats.intelligence }}<br/>
                    Force : {{ api.powerstats.strength }}<br/>
                    Vitesse : {{ api.powerstats.speed }}<br/>
                    Point de vie : {{ api.powerstats.durability }}<br/>
                    Puissance : {{ api.powerstats.power }}<br/>
                    Combat : {{ api.powerstats.combat }}<br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}